extends layout 

block content 
  
  h1=title

  if ageCategory 
    span There are items for this age category. Please delete them before. 
    ul(class="list-group mb-4")
      each item in items 
        li(class="list-group-item")

          if (ageCategory.min && ageCategory.max)
            a(href=item.url) #{item.name} (#{ageCategory.min} - #{ageCategory.max} years old)
          else if(ageCategory.min && !ageCategory.max)
            a(href=item.url) #{item.name} From #{ageCategory.min} years old 
          else 
            a(href="item-url") #{item.name} Up to #{ageCategory.max} years old

  else
    span There are no items for this category of age. You can delete it safely.
    form(method='post' action='')
      button(type='submit' class="btn btn-outline-primary") Delete