extends layout 

block content 
  
  h1=title

  div(class="card d-flex flex-row justify-content-between gap-2 p-2 mb-2")
    div 
      h2=ageCategory.name
      span #{ageCategory.min}-#{ageCategory.max} years old age group

    div(class="d-flex flex-column gap-2") 
      a(href=ageCategory.url + "/update") 
        button(class="btn btn-outline-primary")
          i(class="bi bi bi-pencil-fill")

      a(href=ageCategory.url + "/delete") 
        button(class="btn btn-outline-primary")
          i(class="bi bi-trash3")