extends layout 

block content 

  h2=title

  form(action="", method="post" class="form")
    div(class="card card-body") 

      label(for="name" class="form-label") Category name
        input#name(type="text", name="name", value=category ? category.name : null class="form-control")
      
      label(for="Description" class="form-label") Description 
        input#description(type="textarea", name="description" value=category ? category.description : null class="form-control")

      button(type="submit" class="btn btn-outline-primary") Submit changes

  if errors.length
    span The following form fields contain validation errors: 
    
      ul 
      each error in errors
        li #{error.path}: #{error.msg}