extends layout 

block content 

  h2=title

  form(action="", method="post")
    
    label.row(for="name") Category name
      input#name(type="text", name="name", value=category.name)
    
    label.row(for="Description") Description 
      input#description(type="textarea", name="description" value=category.description)

    button.row(type="submit") Submit changes

  if errors
    span The following form fields contain validation errors: 
    
      ul 
      each error in errors
        li #{error.path}: #{error.msg}