extends layout 

block content 

  h2=title

  form(action="", method="post" class="form")
    
    label.row(for="name" class="form-label") Category name
    input#name(type="text", name="name", value=category.name class="form-control")
    
    label.row(for="Description" class="form-label") Description 
    input#description(type="textarea", name="description" value=category.description class="form-control")

    button.row(type="submit") Submit changes

  if errors
    span The following form fields contain validation errors: 
    
      ul 
      each error in errors
        li #{error.path}: #{error.msg}