extends layout

block content

  h1= title

  each item in items
    div(class="container mb-4")

      img(src=item.imageUrl alt="Image")
      
      div(class="container d-flex flex-row justify-content-between")
        
        a(href=item.url class="flex-grow-1")= item.name
        
        div(class="d-flex flex-grow-0 flex-column align-items-end")
          span $#{item.price}
          span=item.age
          span=item.category

  a(href='/item/new')
    button(type="button" class="btn btn-outline-primary") Add new item 