extends layout

block content

  div(class="card p-2") 
    img(src=item.imageUrl)
    
    div
      h2= item.name

      div(class="d-flex flex-column") Dimensions
        span Height (cm): #{item.height}
        span Width (cm): #{item.width}
        span Depth (cm): #{item.depth}
        span Weight (kg): #{item.weight}

      div(class="d-flex flex-column")
        span Category: item.category
        span Age: item.age

      div
        span Manufacturer #{item.manufacturer}
        p= item.description

      div(class="d-flex flex-column") 
        span $#{item.price}
        span #{item.itemCountLeft} items left

  form(action=item.url + "/delete" method='POST')
    button(type="submit" class="btn btn-outline-primary") Delete item

  a(href=item.url + "/update") 
    button(type="button" class="btn btn-outline-primary") Update