extends layout

block content

  div(class="col-2") 
    h1 !{title} figure

    div(class="card") 
      img(src=item.imageUrl)
      div
        h2= item.name

        div(class="d-flex flex-column") Dimensions
          span Height (cm): #{item.height}
          span Width (cm): #{item.width}
          span Depth (cm): #{item.depth}
          span Weight (kg): #{item.weight}

        div
          span Manufacturer #{item.manufacturer}
          p= item.description

        div 
          span $#{item.price}
          span #{item.itemCountLeft} items left